<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>SignMe</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">SignMe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <span class="navbar-text">
        Navbar text with an inline element
      </span>
    </div>
  </nav>

  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">About Us</span>
  </nav>
  <div class="row">


    <div class="w-100 p-3">
      <div class="card bg-light mb-3">
        <div class="card-header">Our Story</div>
        <div class="card-body">
          <p class="card-text">We are a group of students studying Biomedical Engineering at Imperial College London. SignMe is an undergoing project with a goal to help people with hearing disabilities.
            The main objective of the project is to improve their every day communication with people who are not familiar with sign language.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Krithika Balaji</h5>
            <p class="card-text">Contacts</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Alex McKinnon</h5>
            <p class="card-text">Contacts</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Megan Allerton</h5>
            <p class="card-text">Contacts</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Simon Oury</h5>
            <p class="card-text">Contacts</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Pietro Vitiello</h5>
            <p class="card-text">Contacts</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p></p>
  <div class="row">
    <div class="col">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Winn Chanasak Mahankarat</h5>
            <p class="card-text">Contacts</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Lapo Rastrelli</h5>
            <p class="card-text">Contacts</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Hyung Jip Lee</h5>
            <p class="card-text">Contacts</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Gabby Johnston</h5>
            <p class="card-text">Contacts</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Jon Skerlj</h5>
            <p class="card-text">Contacts</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
