
<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>SignMe</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type = "text/css" href="stylesheet/main_page.css">
  </head>

  <body>
    <h1 id="header">SignMe - The only sign language translator that uses emotion and hand gesture recognition to translate sign language into text.</h1>
    <a href="calibration.html" class="btn btn-lg btn-danger">Start Translating!</a>
  </body>
</html>
